/* 16px == 1rem */
html { font-size: 16px; }

img {
  width: 25%
}

.amendment-title {
  color: green;
  text-align: center;
  font-size: 2rem;
}

.amendment-title:hover {
  color: rgba(92, 213, 235, 0.4);
}

.amendment-title::first-letter {
  font-size: 5rem;
}

.amendment-body {
  text-align: center;
}

.document-history {
  background-color: yellow;
}

/* nested selector -- selects <p> inside .document-history */
.document-history p {
  width: 50%;
}

.document-history h4 {
  background-color: #FFEFD5;
}

#bill-of-rights {
  font-style: italic;
}

.highlight {
  background-color: salmon;
}
